.c-toast-view {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;

  .ct-title {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.85);
    padding: 12px 20px;
    border-radius: 8px;
  }
}
