$md_line_color: rgba(222, 222, 222, 1);
$md_bg_color: rgba(222, 222, 222, 0.3);

$md_normal_bg: rgba(195, 205, 210, .5);
$md_normal_color: rgb(150, 162, 171);
$md_active_color: rgb(93, 159, 221);
$md_black: #000;
$md_white: #fff;

.g-markdown-editor {
  display: flex;
  flex-direction: column;
  border: 1px solid $md_line_color;
  border-radius: 2px;

  .m-md-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $md_line_color;
    padding: 0 4px;

    .p-md-h-left {
      flex: 1;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    .p-md-h-right {
      min-width: 200px;
    }

    .p-header-line {
      width: 8px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $md_line_color;
      margin-right: 4px;
    }
  }

  .m-md-editor-preview {
    flex: 1;
    height: 100%;
    display: flex;
    overflow: auto;

    .p-md-editor {
      display: flex;
      flex: 1;
      padding: 2px;
      min-width: 36%;

      .i-md-textarea {
        flex: 1;
        resize: none;
        border: none;
        background-color: $md_bg_color;
        outline: none;

        &:focus {
          border-color: none;
        }
      }
    }

    .p-md-preview {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 2px;
      min-width: 36%;
    }

    .p-md-extra {
      width: 28%;
      min-width: 200px;
      max-width: 400px;
      height: 100%;
      border-left: 1px solid $md_bg_color;
    }

    .m-md-grammar {
      height: 100%;
      overflow-y: auto;

      .p-grammar-titles {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 8px;
        border-bottom: 1px solid $md_bg_color;

        .i-title-item {
          margin-right: 4px;
          padding: 4px 8px;
          border-radius: 20px;
          background-color: $md_normal_bg;
          font-size: 12px;
          color: $md_normal_color;
          margin-bottom: 4px;

          &:hover {
            cursor: pointer;
            color: $md_active_color;
          }
        }

        .i-title-item-active {
          color: $md_active_color;
        }
      }

      .p-grammar-content {
        padding: 8px;
      }
    }
  }

  .p-extra-title {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;

    .i-e-title {
      font-size: 16px;
      font-weight: 600;
      margin-left: 6px;
    }

    .i-e-close {
      position: absolute;
      top: 6px;
      right: 6px;
      bottom: 6px;
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: $md_normal_color;

      &:hover {
        background: $md_normal_color;
        color: $md_black;
        border-radius: 4px;
        cursor: pointer;
      }
    }

    .i-e-copy {
      position: absolute;
      top: 6px;
      right: 6px;
      bottom: 6px;
      width: 48px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      font-size: 12px;
      color: $md_active_color;

      &:hover {
        cursor: pointer;
      }
    }
  }
}